@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #c5c5c5;
  --muted-foreground: #808080;
  --border: #e5e5e5;
  --border-foreground: #d1d1d1;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --muted: #c5c5c5;
  --muted-foreground: #808080;
  --border: #1d1d1d;
  --border-foreground: #3a3a3a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-border-foreground: var(--border-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
